*{
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}


h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

div{
    display: block;
    margin: 100px auto;
    width: 40%;
}

form{
    display: block;
    background-color: #2A6F97;
    text-align: center;
    padding: 45px 100px;
    margin: 30px 50px;
    color: white;
    font-size: 15px;
}

.regtext{
    text-align: center;
    color: aliceblue;
}


div.containermregister ,div.containermlogin{
    display: inline-block;
    width: 100%;
    align-content: center;
}

a{
    color: goldenrod;
}

input[type=text] , [type=password], [type=email]{
    position: relative;
    text-align: center;
    padding: 10px 70px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

input[type=submit] {
    text-align: center;
    background-color: rgb(208, 246, 255);
    padding: 15px 40px;
    margin: 20px 5px;
    border: none;
    color: #000;
}


